<ion-view>
  <ion-nav-title>Carro</ion-nav-title>
  <ion-content>
    <div class="card">
      <div class="item item-divider">
        Ótima escolha!
      </div>
      <div class="item item-text-wrap">
        {{selectedCar.nome}}
        <ul class="list">
          <li class="item item-toggle" ng-repeat="accessory in accessories">
            {{accessory.name}} - R{{accessory.price | currency}}
           <label class="toggle toggle-positive">
             <input type="checkbox" ng-model="isChecked" ng-click="check(accessory, isChecked)"">
             <div class="track">
               <div class="handle"></div>
             </div>
           </label>
          </li>
        </ul>
      </div>
      <div class="item item-divider">
        Total: R{{selectedCar.preco | currency}}
      </div>
    </div>
    <a class="button button-positive button-full" href="#/finish/{{selectedCar}}">Finalizar</a>
  </ion-content>
</ion-view>
